<%= form_for @add_purchase_and_sale, url: bid_ask_currency_path, method: :patch do |uc| %>
  <div class="container">
    <div class="row">
      <div class="center-align">
        <h3><%= @currency_name %></h3>
        <p>Select the amount you want the currency to reach to get an email alert</p>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s5 m4 offset-s1 offset-m2">
        <%= uc.number_field :purchase, placeholder: "Purchase", step: 0.00001%>
      </div>
      <div class="input-field col s5 m4">
        <%= uc.number_field :sale, placeholder: "Sale", step: 0.00001%>
      </div>
    </div>
  </div>
   <div class="center-align">
    <%= button_tag(type: "submit", :class => "btn waves-effect waves-light") do%>
      ADD<i class="material-icons left">add</i>
    <%end%>
  </div>
<%end%>

<div class="center-align">
  <br>
  <%= link_to "Back", logged_user_index_path , :class => "btn-small waves-effect waves-light"%>
</div>
