<div class="container grid-container main_page">
  <div class="chart">
    <%= render 'chart' %>
  </div>
  <div class="main_currencies">
    <% @currencies.each do |currency|%>
      <% if @main_currencies.include?(currency.name)%>
      <div class="row main_currencies_row">
        <div class="col s8 l8">
          <h4><b><%= currency.name.upcase %></b></h4>   
          <h4><%= currency.value %> <small>PLN</small></h4>
        </div>
      </div>
      <%end%>
      <% end %>
  </div>
  <div class="converter">
    <%= render 'currencies_converter/form'%>
    <div class="converter_output">
      <p id="second_text_output"></p>
    </div>
  </div>
  <div class="gold">
    <h4 class="center-align"><b>GOLD</b></h4>
    <% if @gold.present? %>
      <p class="gold-price"><%= @gold.price %> <small>PLN</small><br></p>
      <p class="gold-date">DATE: <%= @gold.date.strftime('%d-%m-%Y') %></p>
    <% end %>
  </div>
</div>

<div class="other_currencies">
  <div class="row">
    <table class="striped">
      <thead>
        <tr>
          <td class="white-text">NAME</td>
          <td class="white-text">PRICE</td>
        </tr>
      </thead>
      <tbody>
        <% @currencies.each do |currency|%>
          <% if @main_currencies.exclude?(currency.name)%>
            <tr>
              <td><span class="white-text"><%= currency.name.upcase %></span></td>
              <td><span class="white-text"><b><%= currency.value %></b> PLN</span></td>
            </tr>
          <%end%>
        <% end %>
      </tbody>
    </table>
  </div>
</div>