<!DOCTYPE html>
<html>
  <head>
    <title>Alert Walutowy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="notice center-align"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert center-align"><%= alert %></p>
    <% end %>

    <nav class="nav sticky" id="navbar">
      <div class="nav-wrapper">
        <%= link_to root_path, :class => "brand-logo" do %>
          <b>ALERT <span class="hide-on-small-and-down">WALUTOWY</span></b>
        <% end %>

        <a href="" data-target="slide-out" class="sidenav-trigger">
		      <i class="material-icons">menu</i>
	      </a>
        
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <%= render "layouts/navbar" %>
        </ul>
      </div>
    </nav>

    <ul id="slide-out" class="sidenav">
      <div class="brand-logo-mobile">
        <div class="test">
          <%= link_to root_path do %>
            <h4>Alert Walutowy</h4>
        <% end %>
        </div>
        <%= render "layouts/navbar" %>
      </div>
    </ul>

    <%= yield %>
  </body>
</html>
