<!DOCTYPE html>
<html>
  <head>
    <title>Alert Walutowy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'Chart.bundle', 'chartkick', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="notice center-align"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert center-align"><%= alert %></p>
    <% end %>

    <nav class="nav">
      <div class="nav-wrapper">
        <%= link_to root_path, :class => "brand-logo" do %>
          <b>ALERT <span class="hide-on-small-and-down">WALUTOWY</span></b>
        <% end %>

        <a href="#" class="sidenav-trigger" data-target="nav-mobile">
		      <i class="material-icons">menu</i>
	      </a>
        
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <%= render "layouts/navbar" %>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
